@charset "utf-8";
@import url("/css/customer/base.css");

#wrap{width:100%}

/* header */
#header{position:relative; width:100%; height:80px; background:#2c2d32; z-index:500;}
#header .header{position:relative; margin:0 auto; width:1150px; height:80px; z-index:500;}
.header .sta{position:absolute; top:25px; left:20px;}
.header .gnb{position:absolute; top:0; left:200px;}
.header .gnb ul{background:#33343a; *zoom:1}
.header .gnb ul:after{display:block;clear:both;content:''}
.header .gnb ul > li{position:relative; float:left; width:125px;}
.header .gnb ul > li > a{display:block; height:80px; border-right:solid 1px #4c4d56; text-align:center; color:#fff; font-size:16px; line-height:80px; vertical-align:middle;}
.header .gnb ul > li > a:hover{background:url('/images/customer/bg_gnb_on.png') repeat-x left bottom; transition: all 0s ease; -moz-transition: all 0s ease; -ms-transition: all 0s ease; -o-transition: all 0s ease;}
.header .gnb ul > li > a.on{background:url('/images/customer/bg_gnb_on.png') repeat-x left bottom; transition: all 0s ease; -moz-transition: all 0s ease; -ms-transition: all 0s ease; -o-transition: all 0s ease;}
.header .gnb ul > li.last_menu{width:89px;}
.header .gnb ul > li.last_menu > a{display:block;height: 39px;border-right:none;border-bottom:solid 1px #4c4d56;text-align:center;color:#fff5c4;font-size:14px;font-weight:bold;line-height: 39px;vertical-align:middle;}
.header .gnb ul > li.last_menu > a:hover{background:none; color:#ff9179;}
.header .gnb ul > li.last_menu > a.on{background:none;}

.header .gnb ul li .gnb_sub{position:absolute; top:80px; left:0; width:1149px; border-left:solid 1px #d7d7d7; display:none; z-index:600;}
.header .gnb ul li.gnb1 .gnb_sub{left:-200px;}
.header .gnb ul li.gnb2 .gnb_sub{background:#fff; left:-325px;}
.header .gnb ul li.gnb3 .gnb_sub{background:#fff; left:-450px;}
.header .gnb ul li.gnb4 .gnb_sub{background:#fff; left:-575px;}
.header .gnb ul li.gnb5 .gnb_sub{background:#fff; left:-700px;}
.header .gnb ul li.gnb6 .gnb_sub{background:#fff; left:-825px;}
.header .gnb ul li .gnb_sub > ul{background:#fff; *zoom:1}
.header .gnb ul li .gnb_sub > ul:after{display:block;clear:both;content:''}
.header .gnb ul li .gnb_sub > ul li{position:relative; float:left; height:175px; border-bottom:solid 1px #d7d7d7; border-right:solid 1px #d7d7d7;}
.header .gnb ul li .gnb_sub > ul li.w1{width:382px;}
.header .gnb ul li .gnb_sub > ul li.w2_1{width:191px;}
.header .gnb ul li .gnb_sub > ul li.w2_2{width:190px;}
.header .gnb ul li .gnb_sub > ul li.w3_1{width:574px;}
.header .gnb ul li .gnb_sub > ul li.w3_2{width:573px;}
.header .gnb ul li .gnb_sub > ul li h2{position:absolute; top:25px; left:25px; font-size:1.6em; font-weight:bold; color:#000; line-height:1;}
.header .gnb ul li .gnb_sub > ul li h3{position:absolute; top:53px; left:25px; font-size:1em; color:#b3b3b3; line-height:1.3;}
.header .gnb ul li .gnb_sub > ul li > .go_btn{position:absolute; bottom:30px; left:25px; display:block; font-size:1.4em; color:#404040; font-weight:bold; padding:0 30px; border:solid 1px #d7d7d7; font-size:14px; height:38px; line-height:38px; vertical-align:middle;}
.header .gnb ul li .gnb_sub > ul li > .go_btn:hover{border:solid 1px #eb4929; background:#eb4929; color:#fff; transition: all 0.6s ease; -moz-transition: all 0.6s ease; -ms-transition: all 0.6s ease; -o-transition: all 0.6s ease;}
.header .gnb ul li .gnb_sub > ul li .gnb_sub_menu.position1{position:absolute; left:23px; bottom:22px;}
.header .gnb ul li .gnb_sub > ul li .gnb_sub_menu.position2{position:absolute; left:140px; bottom:22px;}
.header .gnb ul li .gnb_sub > ul li .gnb_sub_menu.position3{position:absolute; left:23px; bottom:10px;}
.header .gnb ul li .gnb_sub > ul li .gnb_sub_menu p{padding:5px 0 0; font-size:1.1em; color:#404040; font-weight:bold;}
.header .gnb ul li .gnb_sub > ul li .gnb_sub_menu .lw{padding:5px 0 0; font-size:1.05em; color:#404040; font-weight:bold;}
.header .gnb ul li .gnb_sub > ul li .gnb_sub_menu p a:hover{color:#eb4929; transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
.header .gnb ul li .gnb_sub > ul li .gnb_ico{position:absolute; top:30px; right:20px;}

.header .smart_open{position:absolute;top:0;right:0;padding: 22px 0 0;width:116px;height: 58px;background:#eb4929;color:#fff;text-align:center;font-size:1.15em;font-weight:bold;line-height: 1.3em;}

.gnb_overlay{position:fixed; top:0; left:0; width:100%; height:100%; z-index:400; background:#000; opacity:.5; filter:alpha(opacity=50); display:none;}

#container{width:1200px; margin:0 auto; *zoom:1}
#container:after{display:block;clear:both;content:''}

.snb{float:left; width:210px; margin:0 40px 0 0;}
.snb:after{display:block;clear:both;content:''}

.content{float:left; width:920px; *zoom:1;padding-top:20px;}
.content:after{display:block;clear:both;content:''}

/* footer */
#footer{width:100%; margin:25px 0 0;}
#footer .footer{position:relative; margin:0 auto; width:1150px; height:130px; border-top:solid 1px #ebebeb;}
#footer .footer a:hover{color:#52b847;}


/* =============================== */
.smartWrap{background:#4b4c53; display:none;}
.smart_search{width:1150px; margin:0 auto; padding:23px 0 23px; overflow:hidden;}

.smart_search_nav{width:1500px; margin:0 0 8px; *zoom:1;}
.smart_search_nav:after{display:block;clear:both;content:''}
.smart_search_nav > div{float:left; width:190px; margin:0 40px 0 0;}
.smart_search_nav > div header{text-align:center; font-size:1.25em; font-weight:bold; color:#fff; background:#5d5e64; border-radius:60px;}
.smart_search_nav > div.on header{background:#eb4929;}
.smart_search_nav > div header a{padding:12px 0; display:block; color:#fff;}
.smart_search_nav > div header:hover{background:#eb4929;}
.smart_search_nav > div table.nav_table{margin:10px 0 0; width:100%; text-align:left; font-size:.95em;}
.smart_search_nav > div table.nav_table th{text-align:left; vertical-align:top; padding:5px 0 5px 10px; color:#fff;}
.smart_search_nav > div table.nav_table td{text-align:left; vertical-align:top; padding:5px 0; color:#fff;;}
.smart_search_nav > div table.nav_table ul li{float:left; padding:0 2px;}
.smart_search_nav > div table.nav_table ul li a{display:block; padding:1px 2px 2px; color:#fff;}
.smart_search_nav > div table.nav_table ul li a:hover{background:#eb4929;}
.smart_search_nav > div table.nav_table ul li.on a{background:#eb4929;}

.smart_searchWrap{position:relative; padding:0 100px 0 0; height:265px; background:#fff; overflow:hidden;}
.smart_searchWrap .btn_smart_start{position:absolute;top:0;right:0;display:block;width:100px;padding:100px 0 0;height:165px;background:#33343a url('/images/customer/ico_search2.png') no-repeat 39px 75px;text-align:center;color:#fff;font-size:1.4em;font-weight:bold;line-height:1.2;box-sizing: content-box;}
.smart_searchWrap .btn_smart_start:hover{background:#eb4929 url('/images/customer/ico_search2.png') no-repeat 39px 75px;}
.smart_searchWrap .smart_ing{height:48px; background:#f5f5f5; border-bottom:solid 1px #dbdbdd; *zoom:1}
.smart_searchWrap .smart_ing:after{display:block;clear:both;content:''}
.smart_searchWrap .smart_ing ul{*zoom:1}
.smart_searchWrap .smart_ing ul:after{display:block;clear:both;content:''}
.smart_searchWrap .smart_ing ul li{float:left; text-align:center; font-weight:bold; font-size:1.2em; line-height:48px; vertical-align:middle; text-indent:-12px;}
.smart_searchWrap .smart_ing ul li:last-child{text-indent:0;}
.smart_searchWrap .smart_ing ul li.bg{background:url('/images/customer/ico_arrow2.png') no-repeat right center;}
.smart_searchWrap .smart_cal{float:left; height:215px; background:#323232; border-bottom:solid 1px #c7c7c7; overflow:hidden;}
.smart_searchWrap .smart_cal ul li a.cal_open_btn{font-size:11px;padding:7px 0 9px 7px; display:block; font-weight:bold; border-left:solid 1px #c7c7c7; border-bottom:solid 1px #c7c7c7; background:#fff url('/images/customer/ico_arrow.png') no-repeat right 14px; color:#504f4f;}
.smart_searchWrap .smart_cal ul li a.cal_open_btn input{font-size:11px;}
.smart_searchWrap .smart_cal ul li input{display:inline; padding:0; font-weight:bold; border:none; color:#504f4f; width:70px;}
.smart_searchWrap .smart_cal ul li .calendarWrap{padding:6px 8px; display:none}
.smart_searchWrap .smart_cal ul li.on .calendarWrap{display:block}
.smart_searchWrap .smart_cal ul li .calendarWrap select{padding:0; height:22px; background:#4b4c53; border:none; color:#fff; font-size:11px;}
.smart_searchWrap .smart_cal ul li .calendarWrap2 select{width:100%; padding:0; height:22px; background:#4b4c53; border:none; color:#fff; font-size:13px; margin:0 0 5px;}
/*
.smart_searchWrap .smart_cal ul li .calendarWrap table{color:#fff; width:100%; text-align:center; font-size:.8em;}
.smart_searchWrap .smart_cal ul li .calendarWrap table td.weekend{color:#999;}
.smart_searchWrap .smart_cal ul li .calendarWrap table td{cursor:pointer;}
.smart_searchWrap .smart_cal ul li .calendarWrap table td:hover{background:url('/images/customer/ico_cir.png') no-repeat center;}
.smart_searchWrap .smart_cal ul li .calendarWrap table td.on{background:url('/images/customer/ico_cir.png') no-repeat center;}
*/
.smart_searchWrap .smart_list{position:relative; float:left; height:216px; background:#fff; overflow:hidden;}
.smart_searchWrap .smart_list .list_tit{height:35px; background:#f3f3f3; border-left:solid 1px #c7c7c7; text-align:center; color:#777; font-size:1.05em; font-weight:bold; line-height:35px; vertical-align:middle; padding:0 14px 0 0;}
.smart_searchWrap .smart_list ul{border-left:solid 1px #c7c7c7; border-bottom:solid 1px #c7c7c7;}
.smart_searchWrap .smart_list ul li a{padding:8px 0; display:block; color:#504f4f; text-align:center;}
.smart_searchWrap .smart_list ul li:hover a{background:#5695cd; color:#fff;}
.smart_searchWrap .smart_list ul li.on a{background:#5695cd; color:#fff;}
.smart_searchWrap .smart_list .list_ty1{height:215px; overflow-y:scroll;}
.smart_searchWrap .smart_list .list_ty2{height:180px; overflow-y:scroll;}
.smart_searchWrap .smart_list .list_ty3{height:215px;}
.smart_searchWrap .smart_list .list_ty4{height:173px; overflow-y:scroll;}
.smart_searchWrap .smart_list .list_ty5{height:136px; overflow-y:scroll;}
.smart_searchWrap .smart_list .btn_kg{position:absolute; bottom:0; left:0; padding:12px 0 12px 40px; width:100%; background:#fff url('/images/customer/bg_check.png') no-repeat 10px center; display:block; border:solid 1px #c7c7c7;}
.smart_searchWrap .smart_list .btn_kg.on{background:#fff url('/images/customer/bg_check_on.png') no-repeat 10px center;}

.smart_searchWrap .smart_ing ul li.w1{width:16.666%;}
.smart_searchWrap .smart_ing ul li.w2{width:20%;}
.smart_searchWrap .smart_ing ul li.w3{width:25%;}
.smart_searchWrap .smart_ing ul li.w4{width:33.333%;}
.smart_searchWrap .smart_ing ul li.w5{width:50%;}
.smart_searchWrap .smart_ing ul li.w6{width:66.667%;}
.smart_searchWrap .smart_ing ul li.w7{width:60%;}
.smart_searchWrap .smart_ing ul li.w8{width:14.15%;}
.smart_searchWrap .smart_ing ul li.w9{width:28.57%;}
.smart_searchWrap .smart_ing ul li.w10{width:12.5%;}
.smart_searchWrap .smart_ing ul li.w11{width:18%;}
.smart_searchWrap .smart_ing ul li.w12{width:13.666%;}
.smart_searchWrap .smart_ing ul li.w13{width:11.714%;}

.smart_searchWrap.type1 .smart_cal ul li .calendarWrap table{margin:10px 0 0; height:120px;}
.smart_searchWrap.type1 .smart_cal{width:20%;}
.smart_searchWrap.type1 .smart_list{width:20%;}

.smart_searchWrap.type2 .smart_cal ul li .calendarWrap table{height:112px;}
.smart_searchWrap.type2 .smart_cal{width:16.666%;}
.smart_searchWrap.type2 .smart_list{width:16.666%;}

.smart_searchWrap.type3 .smart_cal ul li .calendarWrap table{margin:10px 0 0; height:120px;}
.smart_searchWrap.type3 .smart_cal{width:25%;}
.smart_searchWrap.type3 .smart_list{width:25%;}

.smart_searchWrap.type4 .smart_cal ul li .calendarWrap table{margin:10px 0 0; height:120px;}
.smart_searchWrap.type4 .smart_cal{width:33.333%;}
.smart_searchWrap.type4 .smart_list{width:33.333%;}

.smart_searchWrap.type5 .smart_cal ul li .calendarWrap table{margin:10px 0 0; height:120px;}
.smart_searchWrap.type5 .smart_cal{width:50%;}
.smart_searchWrap.type5 .smart_list{width:50%;}

.smart_searchWrap.type6 .smart_cal ul li .calendarWrap table{margin:10px 0 0; height:120px;}
.smart_searchWrap.type6 .smart_cal{width:14.285%;}
.smart_searchWrap.type6 .smart_cal select{margin:0;}
.smart_searchWrap.type6 .smart_list{width:14.285%;}

.smart_searchWrap.type7 .smart_cal ul li .calendarWrap table{margin:10px 0 0; height:120px;}
.smart_searchWrap.type7 .smart_cal{width:12.5%;}
.smart_searchWrap.type7 .smart_cal select{margin:0;}
.smart_searchWrap.type7 .smart_list{width:12.5%;}

.smart_searchWrap.type8 .smart_cal ul li .calendarWrap table{height:112px;}
.smart_searchWrap.type8 .smart_cal{width:18%;}
.smart_searchWrap.type8 .smart_cal select{margin:0;}
.smart_searchWrap.type8 .smart_list{width:13.666%;}

.smart_searchWrap.type9 .smart_cal ul li .calendarWrap table{height:112px;}
.smart_searchWrap.type9 .smart_cal{width:18%;}
.smart_searchWrap.type9 .smart_cal select{margin:0;}
.smart_searchWrap.type9 .smart_list{width:11.714%;}

.smart_searchWrap.type10 .smart_cal ul li .calendarWrap table{height:112px;}
.smart_searchWrap.type10 .smart_cal{width:20%;}
.smart_searchWrap.type10 .smart_list{width:20%;}

.smart_searchWrap.type_main{padding:0; height:auto}
.smart_searchWrap.type_main .smart_list{width:100%; border-top:solid 1px #c7c7c7;}
.smart_searchWrap.type_main .smart_list li label{display:block; padding:8px 12px;}
.smart_searchWrap.type_main .smart_list li label:hover{background:#ee492d; color:#fff;}
.smart_searchWrap.type_main .smart_list ul li:hover a{background:#ee492d; color:#fff;}
.smart_searchWrap.type_main .smart_list ul li.on a{background:#ee492d; color:#fff;}


.ui-datepicker{text-align:center; background:#323232;}
.ui-datepicker .ui-datepicker-prev{display:none;}
.ui-datepicker .ui-datepicker-next{display:none;}
.ui-datepicker select{margin:10px 1px 0; padding:0; height:22px; background:#4b4c53; border:none; color:#fff; font-size:11px;}
.ui-datepicker table thead{display:none;}
.ui-datepicker table{color:#fff; width:100%; text-align:center; font-size:.8em;}
.ui-datepicker table td a{min-width:18px; min-height:19px; color:#fff; display:block; line-height:19px; vertical-align:middle;}
.ui-datepicker table td{padding:3px;}
.ui-datepicker table td a:hover{background:url('/images/customer/ico_cir.png') no-repeat center; transition: all 0s ease; -moz-transition: all 0s ease; -ms-transition: all 0s ease; -o-transition: all 0s ease;}
.ui-datepicker table td a.ui-state-active{background:url('/images/customer/ico_cir.png') no-repeat center;}
.ui-datepicker table td.ui-datepicker-week-end a{color:#999;}


.datepicker{text-align:center;}
.datepicker select{margin:0 1px;}
.datepicker .ui-datepicker-prev{display:none;}
.datepicker .ui-datepicker-next{display:none;}
.datepicker table thead{display:none;}
.datepicker table{color:#fff; width:100%; text-align:center; font-size:.8em;}
.datepicker table td{padding:0;}
.datepicker table td a{min-width:18px; min-height:19px; color:#fff; display:block; line-height:19px; vertical-align:middle;}
.datepicker table td a:hover{background:url('/images/customer/ico_cir.png') no-repeat center; transition: all 0s ease; -moz-transition: all 0s ease; -ms-transition: all 0s ease; -o-transition: all 0s ease;}
.datepicker table td a.ui-state-active{background:url('/images/customer/ico_cir.png') no-repeat center;}
.datepicker table td.ui-datepicker-week-end a{color:#999;}


/* =============================== */
/* a */
.common_btn1{display:inline-block; background:#33343a; color:#fff; padding:8px 12px; min-width:100px; text-align:center; font-weight:bold;}
.common_btn1:hover{background:#1b6a65; color:#fff !important;}
.common_btn1.c_gr{background:#a0a6a6;}
.sbtn1{background:#2b2b2b; font-size:.9em; padding:5px 8px; min-width:45px;}
.btn1{background:#9fa6a6;}
.bbtn1{background:#1b6a65; padding:14px 12px 15px;}
.bbtn1:hover{background:#e44727;}
.unit{margin-right:15px;}

.footer .sta{position:absolute; top:46px; left:0;}
.footer .bottom_menu{position:absolute; top:10px; left:0; font-weight:bold;}
.footer .bottom_menu ul{*zoom:1}
.footer .bottom_menu ul:after{display:block;clear:both;content:''}
.footer .bottom_menu ul li{float:left; font-size:1em; margin:0 15px 0 0;}
.footer .bottom_menu ul li a{margin:0 18px 0 0;}
.footer .copy{position:absolute; top:43px; left:140px; font-size:.9em; line-height:1.5;}
.footer .link1{position:absolute; top:10px; right:0;}
.footer .link1 select{width:200px;}
.footer .link2{position:absolute; top:48px; right:0;}
.footer .link2 select{width:200px;}
.footer a:hover{color:#52b847;}
.footer a.sty1{color:#1c7a12;}

.snb{padding:30px 0 0 0;}
.snb_tit{padding:20px;font-size:24px;font-weight:bold;color:rgb(3,80,46);border-bottom:2px solid rgb(0,77,43);background:none;}	239	.snb_tit{padding:20px;font-size:24px;font-weight:bold;color:rgb(3,80,46);border-bottom:2px solid rgb(0,77,43);}
.snb_menu{padding:0;border-width:0;}
.snb_menu li{float:none;}
.snb_menu li:last-child a{border-bottom:1px solid rgb(241,241,241);}
.snb_menu li a{display:block; padding:10px 20px; font-size:15px; color:#4c4c4c;border-top:1px solid rgb(241,241,241);font-weight:500;}
.snb_menu .ico.snb.arrow{float:right;margin-top:10px;margin-right:0;display:block;padding:0;}
.snb_menu li:hover a{color:rgb(0,77,43);}
.snb_menu li.on a{color:rgb(0,77,43); border-top:1px solid rgb(0,77,43);border-bottom:1px solid rgb(0,77,43);}
.snb_menu li > ul{display:none; padding:3px 0; background:rgb(247,247,247);}
.snb_menu li > ul li a{display:block; padding:6px 20px 6px 30px; font-size:14px; color:rgb(51,51,51); font-weight:normal;border-top:0;border-bottom:0;}
.snb_menu li.on > ul{display:block;border-bottom:1px solid rgb(0,77,43);}
.snb_menu li.on > ul li{border-top:0;}
.snb_menu li.on > ul li a{color:#4c4c4c; font-weight:normal; background:url('/common/img/snb_ico.png') no-repeat 15px -5px; border-top:0;border-bottom:0;margin-left:10px;}
.snb_menu li.on > ul li.on a{color:rgb(0,77,43); font-weight:bold; background-position-y:-43px;border-top:0;border-bottom:0;}
.snb_menu li.on > ul li.on > ul{border-bottom:0;}
.snb_menu li.on > ul li.on > ul li a{margin-left:20px;background:url('/common/img/snb_ico.png') no-repeat 15px -120px; color:rgb(171,171,171);font-size:13px;padding:1px 20px 3px 30px;}
.snb_menu li.on > ul li.on > ul li.on a{background-position-y:-85px; color:rgb(0,77,43);}


.lnb{font-size:14px; padding:18px 0 0; height:5px; color:#7f7f7f; text-align:right;}
.lnb a{color:#7f7f7f;}

/* 페이지 공통 */
.p_tit{position:relative; height:70px; border-bottom:solid 1px #2c2d32;}
.p_tit h2{/* position:absolute; top:7px; left:0; */ float:left; line-height:1; font-size:30px; font-weight:600; color:#222; margin-top:20px;}
.p_tit h4{/* position:absolute; top:45px; left:5px; */ float:left; font-size:1.1em; color:#999; margin-top:20px; padding:5px 0 5px 10px;}
.p_tit .btnWrap{position:absolute; top:28px; right:0; *zoom:1}
.p_tit .btnWrap:after{display:block;clear:both;content:''}
.p_tit .btnWrap .sns{float:left; *zoom:1}
.p_tit .btnWrap .sns:after{display:block;clear:both;content:''}
.p_tit .btnWrap .sns li{float:left; width:31px; height:31px;}
.p_tit .btnWrap .page_option{float:left; padding:0 0 0 1px; margin:0 0 0 4px; *zoom:1}
.p_tit .btnWrap .page_option:after{display:block;clear:both;content:''}
.p_tit .btnWrap .page_option li{float:left;}
.p_tit .btnWrap .page_option li a{display:block; border:solid 1px #d6d6d6; margin:0 0 0 -1px; width:29px; height:29px; text-indent:-9999px;}
.p_tit .btnWrap .page_option li a.btn_zoomin{background:url('/images/customer/ico_text_zoomin.png') no-repeat center;}
.p_tit .btnWrap .page_option li a.btn_zoomout{background:url('/images/customer/ico_text_zoomout.png') no-repeat center; border-left:solid 1px #f5f5f5;}
.p_tit .btnWrap .page_option li a.btn_print{background:#f9f9f9 url('/images/customer/ico_print.png') no-repeat center;}
.p_tit .btnWrap .page_option li a.btn_scrap{background:#f9f9f9 url('/images/customer/ico_scrap.png') no-repeat center;}
.p_tit .btnWrap .page_option li a.btn_zoomin:hover{background:url('/images/customer/ico_text_zoominover.png') no-repeat center;}
.p_tit .btnWrap .page_option li a.btn_zoomout:hover{background:url('/images/customer/ico_text_zoomoutover.png') no-repeat center;}
.p_tit .btnWrap .page_option li a.btn_print:hover{background:#f9f9f9 url('/images/customer/ico_print_over.png') no-repeat center;}
.p_tit .btnWrap .page_option li a.btn_scrap:hover{background:#f9f9f9 url('/images/customer/ico_scrap_over.png') no-repeat center;}
.p_tit_desc{background:#f5f5f5;color:#272322;font-size:13px;padding:20px;border:1px solid #ebebeb;margin-top:30px;}


.p_tit2{padding:0 0 5px; font-size:1.9em; font-weight:bold; color:#222; border-bottom:solid 1px #2c2d32;}
.s_tit{font-size:1.3em; color:#262626; font-weight:bold; padding:0 0 0 17px; background:url('/images/customer/bullet1.png') no-repeat 0 7px;}
.s_tit2{font-size:1.3em; color:#262626; font-weight:bold; padding:0 0 0 15px; background:url('/images/customer/bullet2.png') no-repeat 0 8px;}
.s_tit3{font-size:1.6em; color:#0e524e; font-weight:bold; padding:0 0 0 25px; background:url('/images/customer/bullet3.png') no-repeat 0 7px;}
.s_tit4{font-size:1.3em; color:#0000FF; font-weight:bold; padding:0 0 0 15px; background:url('/images/customer/bullet2.png') no-repeat 0 8px;}
.s_tit5{font-size:1.3em; color:#262626; font-weight:bold; padding:0 0 0 10px;}
.s_tit6{font-size:1.3em; color:#262626; font-weight:bold; padding:0 0 0 5px;}
.s_tit7{font-size:1.3em; color:#262626; font-weight:bold; padding:0 0 0 5px;}
.s_tit8{font-size:2.3em; color:#262626; font-weight:bold; padding:0 0 0 5px;}
.s_tit9{font-size:1.3em; color:#0e524e; padding:0 0 0 25px;}
.small_tit{font-size:1.2em; color:#262626; font-weight:bold; padding:0 0 0 12px; background:url('/images/customer/bullet2.png') no-repeat 0 11px;}
.small_tit1{font-size:1.2em; color:#262626; font-weight:bold; padding:0 0 0 10px;}
.small_tit2{font-size:1.2em; color:#262626; font-weight:bold; padding:0 0 0 5px;}
.color{color:#0000FF;}

.boxWrap1{background:#fff; border:solid 1px #ebebeb; padding:20px; line-height:1.8; *zoom:1}
.boxWrap1:after{display:block;clear:both;content:''}
.boxWrap2{background:#fff; border-top:solid 1px #ebebeb; border-bottom:solid 1px #ebebeb; padding:30px; line-height:1.8; *zoom:1}
.boxWrap2:after{display:block;clear:both;content:''}
.boxWrap1.bg, .boxWrap2.bg{background:#f5f5f5;}

/* 20160126 추가 */
.inter_txt1 {font-size:1.3em; line-height:1.8; *zoom:1}
.inter_txt1 strong {color:#52b847}

/* 20160126 추가 끝*/

.text_type1{line-height:1.8; color:#777;}

/* 소개 관련 */
.about1{font-size:1.1em; line-height:1.6;}
.about1 .txt_ty1{font-size:1.3em; color:#eb4929;}
.about1 .txt_ty2{font-size:1.8em; color:#1b6a65; line-height:1.3;}
.about1 .txt_ty3{color:#999;}
.about1 .txt_ty4{font-size:2.4em; color:#1b6a65; line-height:1.2; letter-spacing:-0.05em;}
.about1 .txt_ty5{font-size:2.1em; color:#404040; line-height:1.2; letter-spacing:-0.05em;}

input.input_style1{padding:6px; width:320px; height:32px; border:solid 2px #d9dde1; font-size:1.2em;}

.search_inputWrap{float:left; width:240px; height:32px; margin:0 0 0 5px; background:#ececec url('/images/customer/ico_search.png') no-repeat 215px center; *zoom:1}
.search_inputWrap:after{display:block;clear:both;content:''}
.search_inputWrap input{float:left; margin:1px 0 0; width:194px; height:16px; background:#ececec; border:solid 1px #ececec;}
.search_inputWrap a{float:right; width:32px; height:32px; text-indent:-9999px;}

.bullet_list{}
.bullet_list li{background:url('/images/customer/snb_bullet_off.png') no-repeat left 9px; margin:0 0 7px; padding:0 0 0 11px; line-height:1.6;}
.bullet_list li:last-child{margin:0;}

.bullet_list pre{white-space:pre-wrap;}

.line_ty1{clear:both; border-top:solid 3px #555;}

table.wtable1{clear:both; width:100%; line-height:1.6; text-align:center; border-top:solid 3px #555; font-size:1em;}
table.wtable1 caption{/*visibility:hidden;*/ display:none}
table.wtable1 th{padding:5px 10px 5px; color:#222; background:#f7f7f7; border:solid 1px #c7c7c7; border-bottom:solid 1px #555; font-size:1.15em;}
table.wtable1 td{padding:10px 10px 10px; color:#222; border:solid 1px #c7c7c7;}
table.wtable1 a:hover{color:#52b847;}
table.wtable1 .first{border-left:none;}
table.wtable1 .last{border-right:none;}
table.wtable1 tr.on td{background:#fafafa;}
table.wtable1 tr.on td a{font-weight:bold; color:#1b6a65;}
table.wtable1 td.cell_tit1{background:#fcfcfc; font-weight:bold; font-size:1.3em; text-align:center;}
table.wtable1 td.cell_tit2{font-weight:bold; text-align:center;}

table.wtable2{clear:both; width:100%; line-height:1.6; text-align:left; font-size:1em;}
table.wtable2 caption{/*visibility:hidden;*/ display:none}
table.wtable2 th{padding:12px 10px 11px; color:#222; background:#f7f7f7; border:solid 1px #c7c7c7; text-align:left;}
table.wtable2 td{padding:12px 10px 11px; color:#222; border:solid 1px #c7c7c7;}
table.wtable2 .first{border-left:none;}
table.wtable2 .last{border-right:none;}

table.wtable3{clear:both; width:100%; line-height:1.6; text-align:right; border-top:solid 3px #555; font-size:1em; white-space:nowrap;}
table.wtable3 caption{/*visibility:hidden;*/ display:none}
table.wtable3 th{padding:5px 10px 5px; color:#222; background:#f7f7f7; border:solid 1px #c7c7c7; border-bottom:solid 1px #555; font-size:1.15em; text-align:center;}
table.wtable3 td{padding:6px 10px 6px; color:#222; border:solid 1px #c7c7c7; text-align:center;}
table.wtable3 a{font-weight:bold; text-decoration:underline;}
table.wtable3 a:hover{color:#52b847;}
table.wtable3 .first{border-left:none;}
table.wtable3 .last{border-right:none;}
table.wtable3 td.cell_tit1{background:#fcfcfc; font-weight:bold; font-size:1.3em; text-align:center;}
table.wtable3 td.cell_tit2{font-weight:bold; text-align:center;}
table.wtable3 tr.fwb td{font-weight:bold;}
table.wtable3 th.date{font-size:1.0em;}
table.wtable3 tr.wi{line-height:20px;}

table.wtable4{clear:both; width:100%; line-height:1.6; text-align:right; border-top:solid 3px #555; font-size:1em; white-space:nowrap;}
table.wtable4 caption{/*visibility:hidden;*/ display:none}
table.wtable4 th{padding:5px 10px 5px; color:#222; background:#f7f7f7; border:solid 1px #c7c7c7; border-bottom:solid 1px #555; font-size:1.15em; text-align:center;}
table.wtable4 th.title1{text-align:left;}
table.wtable4 td{padding:5px 5px 5px; color:#222; border:solid 1px #c7c7c7; text-align:center;}
table.wtable4 a{font-weight:bold; text-decoration:underline;}
table.wtable4 a:hover{color:#52b847;}
table.wtable4 .first{border-left:none;}
table.wtable4 .last{border-right:none;}
table.wtable4 td.cell_tit1{background:#fcfcfc; font-weight:bold; font-size:1.3em; text-align:center;}
table.wtable4 td.cell_tit2{font-weight:bold; text-align:center;}
table.wtable4 tr.fwb td{font-weight:bold;}
table.wtable4 th.date{font-size:1.0em;}
table.wtable4 tr.wi{line-height:20px;}

table.wtable5{clear:both; width:100%; line-height:1.6; text-align:right; border-top:solid 3px #555; font-size:1em; white-space:nowrap;}
table.wtable5 caption{/*visibility:hidden;*/ display:none}
table.wtable5 th{padding:5px 10px 5px; color:#222; background:#f7f7f7; border:solid 1px #c7c7c7; border-bottom:solid 1px #555; font-size:1.15em; text-align:center;}
table.wtable5 th.title1{text-align:left;}
table.wtable5 td{color:#222; border:solid 1px #c7c7c7; text-align:center;}
table.wtable5 a{font-weight:bold; text-decoration:underline;}
table.wtable5 a:hover{color:#52b847;}
table.wtable5 .first{border-left:none;}
table.wtable5 .last{border-right:none;}
table.wtable5 td.cell_tit1{background:#fcfcfc; font-weight:bold; font-size:1.3em; text-align:center;}
table.wtable5 td.cell_tit2{font-weight:bold; text-align:center;}
table.wtable5 tr.fwb td{font-weight:bold;}
table.wtable5 th.date{font-size:1.0em;}
table.wtable5 tr.wi{line-height:20px;}

table.vtable1{clear:both; width:100%; line-height:1.6; text-align:left; border-top:solid 3px #555; font-size:1em;}
table.vtable1 caption{/*visibility:hidden;*/ display:none}
table.vtable1 th{padding:12px 13px 11px; color:#222; background:#f7f7f7; border-bottom:solid 1px #c7c7c7; vertical-align:top; text-align:left;}
table.vtable1 td{padding:12px 13px 11px; color:#222; border-bottom:solid 1px #c7c7c7;}
table.vtable1 td.tit{font-size:1.15em; font-weight:bold;}
table.vtable1 td .v_content{padding:20px 15px; font-size:1.1em; line-height:1.8; white-space:pre-wrap;}
table.vtable1 td .v_content1{padding:20px 15px; font-size:1.1em; line-height:1.8;}
table.vtable1 .txtArea{min-height:280px;}
table.vtable1 a:hover{color:#52b847;}
table.vtable1 .file{}
table.vtable1 .file li{padding:0 0 3px;}
table.vtable1 .file li:last-child{padding:0;}
table.vtable1.type_new th{vertical-align:middle;text-align:center;}
table.vtable1 .commentArea li{margin-bottom:5px;}
table.vtable1 .commentArea li .tit{float:left;margin-right:5px;}
table.vtable1 .commentArea li input[type=text].name{width:130px;height:30px;}
table.vtable1 .commentArea textarea{height:130px;width:710px;}

.tbl_notice{color:#848484;font-size:13px;margin-left:10px;}

table.htable1{width:100%; font-size:1.1em; text-align:left; color:#666; border-top:solid 3px #555; border-bottom:solid 1px #555; line-height:1.8;}
table.htable1 th{padding:10px 0 10px 20px; font-size:14px; text-align:left; vertical-align:top; border-bottom:solid 1px #c7c7c7;}
table.htable1 td{padding:10px; border-bottom:solid 1px #c7c7c7;}
table.htable1 tr.line th, table.htable1 tr.line td{border-bottom:solid 1px #d4d9de;}
table.htable1 th.check{background:url('/images/customer/bg_input_check.png') no-repeat left 16px}
table.htable1 tr:last-child th, table.htable1 tr:last-child td{border-bottom:solid 1px #555;}
table.htable1.member tr th, table.htable1.member tr td{border-bottom:none;}

.post_list{overflow:hidden;}
.post_list ul{width:960px; *zoom:1}
.post_list ul:after{clear:both; content:''; display:block}
.post_list ul li{float:left; width:290px; margin:30px 30px 0 0;}
.post_list ul li .thum img{width:290px; height:164px;}
.post_list ul li .mtit{margin:10px 0 0; height:40px; font-size:1.2em; line-height:1.2; overflow:hidden;}
.post_list ul li .mdate{margin:5px 0 0; color:#999;}

.label_item{display:inline-block; width:97px; margin:0 0 5px;}

.page_num{clear:both; text-align:center; margin:30px 0 0; font-size:1.1em;margin-bottom:50px;}
.page_num span{background:#1b6a65; border:solid 1px #1b6a65; display:inline-block; padding:0 8px; height:26px; color:#fff; line-height:26px; vertical-align:middle; font-weight:bold;}
.page_num a{background:#fff; border:solid 1px #ebebeb; display:inline-block; padding:0 8px; height:26px; text-decoration:none; color:#666; line-height:26px; vertical-align:middle;}
.page_num a:hover{background:#1b6a65; color:#fff; border:solid 1px #1b6a65;}

.tab_common{*zoom:1}
.tab_common:after{clear:both; content:''; display:block}
.tab_common li{float:left; width:150px; text-align:center;}
.tab_common li a{display:block; color:#999; background:#f7f7f7; padding:10px 0; border:solid 1px #c7c7c7; border-bottom:solid 2px #4d4d57; font-size:1.15em;}
.tab_common li a:hover{background:#fff; transition: all 0s ease; -moz-transition: all 0s ease; -ms-transition: all 0s ease; -o-transition: all 0s ease;}
.tab_common li a.on{color:#222; background:#fff; font-weight:bold; border:solid 1px #4d4d57; border-bottom:solid 2px #fff; font-size:1.2em; transition: all 0s ease; -moz-transition: all 0s ease; -ms-transition: all 0s ease; -o-transition: all 0s ease;}
.cont_tab_02, .cont_tab_03, .cont_tab_04, .cont_tab_05, .cont_tab_06, .cont_tab_07, .cont_tab_08, .cont_tab_09{display:none;}
.cont_tab2_02, .cont_tab2_03, .cont_tab2_04, .cont_tab2_05, .cont_tab2_06, .cont_tab2_07, .cont_tab2_08, .cont_tab_09{display:none;}
.cont_tab3_02, .cont_tab3_03, .cont_tab3_04, .cont_tab3_05, .cont_tab3_06, .cont_tab3_07, .cont_tab3_08, .cont_tab3_09{display:none;}

.tab_common2 li{width:20%;}
.tab_common3 li{width:33.333%;}
.tab_common3 li:last-child{width:33.334%;}
.tab_common4 li{width:16.666%;}
.tab_common5 li{width:50%;}
.tab_common6 li{width:25%;}

.scroll{overflow:auto; overflow-y:scroll; border-top:solid 1px #ebebeb; border-bottom:solid 1px #ebebeb;}
.scroll_x{width:100%; overflow:auto; overflow-x:scroll;}

/* 주간알뜰장 */
.eco_select{position:relative; text-align:center;}
.eco_select .search_inputWrap{position:absolute; top:4px; right:0;}
.eco_select .search_selectWrap{position:absolute; top:4px; right:0;}
.eco_select .tt_ty{font-size:2.4em; font-weight:bold; vertical-align:-7px; padding:0 5px;}
.eco_select .tt_ty b{color:#eb4929; letter-spacing:-0.1em;}
.eco_tab ul{border:solid 1px #c7c7c7; border-right:none; *zoom:1}
.eco_tab ul:after{clear:both; content:''; display:block}
/* .eco_tab ul li{float:left; width:14.285%;} */
.eco_tab ul li{float:left; width:12.5%;}
.eco_tab ul li a{display:block; border-right:solid 1px #c7c7c7; padding:16px 0 0; height:49px; text-align:center; font-size:1.1em; line-height:1.2; font-weight:bold; box-sizing: content-box;}
.eco_tab ul li a.m1{color:#000; padding:25px 0 0; height:40px;}
.eco_tab ul li a.m1line{padding:25px 0 0; height:40px;}
.eco_tab ul li a.on{background:#eb4929; color:#fff;}
.eco_tab ul li a.m1.on{color:#fff;}

.eco_tab1 ul{border:solid 1px #c7c7c7; border-right:none; *zoom:1}
.eco_tab1 ul:after{clear:both; content:''; display:block}
.eco_tab1 ul li{float:left; width:14.285%;}
.eco_tab1 ul li a{display:block; border-right:solid 1px #c7c7c7; padding:16px 0 0; height:49px; text-align:center; font-size:1.1em; line-height:1.2; font-weight:bold; box-sizing: content-box;}
.eco_tab1 ul li a.m1{color:#000; padding:25px 0 0; height:40px;}
.eco_tab1 ul li a.m1line{padding:25px 0 0; height:40px;}
.eco_tab1 ul li a.on{background:#eb4929; color:#fff;}
.eco_tab1 ul li a.m1.on{color:#fff;}

.eco_week{border-left:solid 1px #d3d3d3; *zoom:1}
.eco_week:after{clear:both; content:''; display:block}
.eco_week li{position:relative; float:left; width:229px;}
.eco_week li a{display:block; height:325px; border:solid 1px #d3d3d3; border-left:none;}
.eco_week li .thum{height:228px; border-bottom:solid 1px #d3d3d3;}
.eco_week li .thum img{width:228px; height:228px;}
.eco_week li .product_tit{position:absolute; top:240px; left:10px; font-size:1.3em; font-weight:bold; width:150px; overflow:hidden; height:50px; /*white-space:nowrap; text-overflow:ellipsis;*/}
.eco_week li .product_info{position:absolute; bottom:8px; left:10px; color:#999; font-size:.9em}
.eco_week li .eco_trend{position:absolute; top:195px; right:5px; padding:30px 0 0; width:70px; height:40px; text-align:center; color:#fff; font-size:1.2em;}
.eco_week li .eco_trend.eco_up{background:url('/images/customer/bg_eco_up.png') no-repeat;}
.eco_week li .eco_trend.eco_down{background:url('/images/customer/bg_eco_down.png') no-repeat;}
.eco_media{position:relative; float:right; width:180px; height:202px; background:#33343a;}
.eco_media .thum{height:119px; border:solid 5px #33343a;}
.eco_media .thum img{width:170px; height:119px;}
.eco_media .eco_play{position:absolute; top:23px; left:50px;}
.eco_media .product_tit{position:absolute; top:134px; left:10px; font-size:1.3em; font-weight:bold; color:#fff; width:160px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.eco_media .product_info{position:absolute; bottom:8px; left:10px; color:#fff; font-size:.9em}

.eco_category{width:919px; overflow:hidden;}
.eco_category ul{width:920px; border-top:solid 1px #555; *zoom:1}
.eco_category ul:after{clear:both; content:''; display:block}
.eco_category ul li{position:relative; float:left; width:92px;}
.eco_category ul li a{display:block; height:115px; border-right:solid 1px #c7c7c7; border-bottom:solid 1px #c7c7c7; text-align:center;}
.eco_category ul li a p{position:absolute; width:91px; bottom:10px; font-weight:bold;}
.eco_category ul li a:hover{color:#52b847;}

.totop{position:fixed; bottom:130px; /*left:50%; margin:0 0 0 655px;*/ right:0; z-index:900;}

/* 팝업 */
.pop_fixed{position:fixed; background:#fff; z-index:1100;}
.pop_absolute{position:absolute; background:#fff; z-index:1100;}
.pop_overlay{position:fixed; top:0; left:0; width:100%; height:100%; z-index:1000; background:#000; opacity:.3; filter:alpha(opacity=30); display:none;}
.pophead{position:relative; padding:10px; background:#1b6a65 url('/images/customer/bg_pattern1.png') no-repeat;}
.pophead .ptit{font-size:16px; color:#fff; line-height:1.6; font-weight:bold;}
.pophead .btn_pop_close{position:absolute; top:3px; right:18px; display:block; font-size:26px; font-weight:bold; color:#fff;}
.popcontent{position:relative; padding:20px;}
.popcontent:after{content:""; display:block; clear:both;}
.popcontent .btn_pop_close{position:absolute; top:0; right:-49px;}

/* 자주묻는 질문 */
.faq_list{}
.faq_list dl{font-size:1.2em; margin:0 0 10px; line-height:1.6;}
.faq_list dl dt{padding:12px 20px 12px 70px; background:#ebedef url('/images/customer/ico_q_off.png') no-repeat 20px top; cursor:pointer;}
.faq_list dl dd{font-size:.95em; padding:12px 20px 12px 70px; background:#f8f9fa url('/images/customer/ico_a.png') no-repeat 20px top; display:none;}
.faq_list dl.on dt{background:#52b847 url('/images/customer/ico_q_on.png') no-repeat 20px top; color:#fff;}
.faq_list dl:hover dt{background:#52b847 url('/images/customer/ico_q_on.png') no-repeat 20px top; color:#fff; transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
.faq_list dl.on dd{display:block;}
.faq_list dl:last-child{margin:0;}

/* 회원관련 */
.member_contwrap{width:800px; padding:60px; margin:30px auto 0; background:#f7f7f7; border:solid 1px #ebebeb;box-sizing:content-box;}

.login_form{margin:63px 0 40px 150px; *zoom:1}
.login_form:after{display:block;clear:both;content:''}
.login_form .tbox{float:left; font-size:1.2em; font-weight:bold;}
.login_form .tbox .t1{margin-right:20px}
.login_form .tbox .t2{margin-right:3px}
.login_form .tbox .t3{margin-right:39px}
.login_form .tbox .t4{margin-right:24px}
.login_form .tbox .t5{margin-right:5px}
.login_form .tbox input{padding:6px; width:320px; height:32px; border:solid 2px #d9dde1; font-size:1.2em;}
.login_form .login_btn{float:left; margin:0 0 0 10px; width:100px; height:100px; background:#4bb343 url('/images/customer/bg_pattern1.png') no-repeat; color:#fff; font-size:1.4em; font-weight:bold; text-align:center; line-height:100px; vertical-align:middle;}
.login_form .login_btn:hover{background:#1b6a65 url('/images/customer/bg_pattern1.png') no-repeat;}
.login_form .add_check{clear:both; padding:15px 0 0 66px; font-size:14px;}
.login_btnwrap{*zoom:1}
.login_btnwrap:after{display:block;clear:both;content:''}
.login_btnwrap p{text-align:left; font-weight:bold; color:#666; margin:0 0 0 220px;}
.login_btnwrap p span{display:inline-block; width:290px;}

.join_tit{font-size:2.4em; text-align:center; color:#777;}
.join_tit strong{color:#1b6a65;}

.join_step1{text-align:center; *zoom:1;}
.join_step1:after{clear:both; content:''; display:block}
.join_step1 *{box-sizing:content-box;}
.join_step1 > div{display:inline-block; margin:0 10px; width:232px; vertical-align:top;}
.join_step1 div a{display:inline-block; padding:180px 0 0; width:230px; height:50px; font-size:1.4em; border:solid 1px #fff;}
.join_step1 div a:hover{border:solid 1px #52b847;}
.join_step1 .join1 a{background:#fff url('/images/customer/bg_join1.png') no-repeat center 30px;}
.join_step1 .join2 a{background:#fff url('/images/customer/bg_join2.png') no-repeat center 30px;}
.join_step1 .join3 a{background:#fff url('/images/customer/bg_join3.png') no-repeat center 30px;}
.join_step1 .join4 a{background:#fff url('/images/customer/bg_join4.png') no-repeat center 50px;}
.join_step1 .join5 a{background:#fff url('/images/customer/bg_join5.png') no-repeat center 70px;}
.join_step1 p{font-size:1em; text-align:left; line-height:1.4; color:#999; padding:0 0 0 10px;}

.join_step3 > div{width:332px; margin:0 10px; vertical-align:top;}
.join_step3 div a{width:330px;}
.join_step3 div a:hover{border:solid 1px #52b847;}
.join_step3 .join4 a{background:#fff url('/images/customer/bg_join4.png') no-repeat center 50px;}
.join_step3 .join5 a{background:#fff url('/images/customer/bg_join5.png') no-repeat center 70px;}
.join_step3 .join6 a{background:#fff url('/images/customer/bg_join6.png') no-repeat center 25px;}
.join_step3 .join7 a{background:#fff url('/images/customer/bg_join7.png') no-repeat center 40px;}
.join_step3 p{font-size:1em; text-align:left; line-height:1.4; color:#999; padding:0 0 0 5px;}

.find_step{text-align:center; *zoom:1;}
.find_step:after{clear:both; content:''; display:block}
.find_step > div{display:inline-block; margin:0 10px; padding:20px 0; vertical-align:top; background:#fff; width:350px;}
.find_step > div p span{color:#999;}

.input_check{background:url('/images/customer/bg_input_check.png') no-repeat 0 3px; font-size:1.1em; color:#666; padding:0 0 0 20px; font-weight:bold;}

/* 사이트맵 */
.sitemap_gnb{margin:10px 0 0; width:918px; border:solid 1px #d7d7d7; border-bottom:none;}
.sitemap_gnb > ul{background:#fff; *zoom:1}
.sitemap_gnb > ul:after{display:block;clear:both;content:''}
.sitemap_gnb > ul li{position:relative; float:left; height:125px; border-bottom:solid 1px #d7d7d7;}
.sitemap_gnb > ul li.w1{width:305px;}
.sitemap_gnb > ul li.w2_1{width:153px;}
.sitemap_gnb > ul li.w2_2{width:153px;}
.sitemap_gnb > ul li.w3_1{width:457px;}
.sitemap_gnb > ul li.w3_2{width:457px;}
.sitemap_gnb > ul li.w4{width:918px;}
.sitemap_gnb > ul li h2{position:absolute; top:12px; left:20px; font-size:1.4em; font-weight:bold; color:#000; line-height:1;}
.sitemap_gnb > ul li > .go_btn{position:absolute; bottom:22px; left:20px; display:block; font-size:1.4em; color:#404040; font-weight:bold; padding:0 30px; border:solid 1px #d7d7d7; font-size:14px; height:38px; line-height:38px; vertical-align:middle;}
.sitemap_gnb > ul li > .go_btn:hover{border:solid 1px #eb4929; background:#eb4929; color:#fff; transition: all 0.6s ease; -moz-transition: all 0.6s ease; -ms-transition: all 0.6s ease; -o-transition: all 0.6s ease;}
.sitemap_gnb > ul li .gnb_sub_menu.position1{position:absolute; left:18px; bottom:13px;}
.sitemap_gnb > ul li .gnb_sub_menu.position2{position:absolute; left:135px; bottom:15px;}
.sitemap_gnb > ul li .gnb_sub_menu p{padding:4px 0 0; font-size:1em; color:#404040; font-weight:bold;}
.sitemap_gnb > ul li .gnb_sub_menu p a:hover{color:#eb4929; transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
.sitemap_gnb > ul li .gnb_ico{position:absolute; top:23px; right:-16px;}
.sitemap_gnb > ul li .gnb_ico img{width:50%;}


.item_picWrap{position:relative; width:180px; height:180px;}
.item_picWrap .picWrap{position:absolute; top:30px; left:0; width:150px; height:150px;}
.item_picWrap .picWrap img{width:150px; height:150px;}
.item_picWrap .bg_item{position:absolute; top:30px; left:0; width:150px; height:150px; z-index:100;}
.item_picWrap .bg_item img{width:150px; height:150px;}
.item_picWrap .item_tit{position:absolute; top:0; left:0; width:150px; font-size:1.6em; color:#151515; font-weight:bold; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.styleBox01 { background: #00aeef; /* color: #fff; */ width:535px;}

/* 160728 최승민 추가 */
.shopping ul{ overflow:hidden; width:100%}
.shopping ul:last-child li{ border-bottom:1px solid #ccc;}
.shopping ul li{float:left;width: 153px;height:70px;line-height:70px;text-align:center;border-right:1px solid #ccc;border-bottom: 1px solid #ccc;box-sizing:border-box;}
.shopping ul li img {vertical-align: middle; margin-left: -15px; width:30%; float:right; padding-right:10px;}
.shopping ul:first-child li{ background:#f5f5f5; border-top: 1px solid #ccc;}
.shopping ul li:first-child{border-left:1px solid #ccc;}
.shopping .item{height:50px !important; line-height:50px !important;}

.interestView{position:relative;margin:0;background:#fff;border:1px solid #dbdbdb;padding:7px 10px 10px 20px;color:#292929;font-weight:bold;}